.paragraph{
    padding:100px;
    margin:auto;
    max-width: 1920px;
    padding-top: 120px;
}

.paragraph div{
    text-align: right;
    margin-bottom: 80px;
    font-size: 1.2em;
}

.paragraph div span {
    font-weight: bold;
    color: #E85C41;
}

@media (max-width: 700px) {
    .paragraph div{
        text-align: center;
        font-size: 0.9em;
    }
    .paragraph{
        padding: 20px;
        padding-top: 120px;

    }
}