.contact {
  padding: 6rem 0 0;
  background-color: #fff;
}

.contact-content {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}

.section-title .highlight {
  color: #E85C41;
}

.contact-button {
  margin-top: 3rem;
}

.kakao-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #FEE500;
  color: #000;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  transition: transform 0.3s ease;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.kakao-btn:hover {
  transform: translateY(-2px);
}

.kakao-btn img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.contact-content2{
  text-align: left;
  padding: 6em;
  background-color: #E85C41;
  color: #fff;
}

.contact-content2 h2{
  font-size: 3rem;
  font-weight: bold;
}

.contact-content2-inner{
  width: fit-content;
  position: relative;
  left: 10%;
}


